<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KeiranDev - Bio</title>
  <meta name="description" content="Welcome to my bio!>
  <meta name=" keywords" content="KeiranDev, keiran, kuuichi, software developer, programming, bio, portfolio">
  <meta name="author" content="Keiran">
  <meta property="og:title" content="KeiranDev - Bio">
  <meta property="og:description" content="Welcome to my bio!>
  <meta property=" og:image" content="/static/gura.gif">
  <meta property="og:url" content="http://k.baselinux.org>
  <meta name=" twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="KeiranDev - Bio">
  <meta name="twitter:description" content="Welcome to my bio!">
  <meta name="twitter:image" content="/static/gura.gif">
  <link rel="stylesheet" href="/static/bio.css">
</head>

<body>
  <div class="container">
    <div class="bio">

      <div class="profile">
        <img src="/static/gura.gif" alt="Profile Icon" class="profile-icon">
      </div>
      <h1 class="title">KeiranDev</h1>
      <p class="description" id="description"></p>

      <div class="social-icons">
        <a href="https://e-z.bio/kc" target="_blank">
          <img src="/static/e-ztransparent.png" alt="Social Link" class="icon">
        </a>
      </div>
    </div>
  </div>
  <script src="/static/bio.js"></script>
</body>

</html>
